@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.Home{
    color:rgb(50,50,50);
    font-size:14px;
    animation: fadeIn 0.5s 1;
    &.dark{
        color:rgb(255,255,255) !important;
    }
}

.about{
    padding:30px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.rightB{
    max-width:50%;
    .titleContainer{
        text-align:right;
        width:100%;
        margin-bottom:10px;
        .title{
            display:inline-block;
            font-family:'Permanent Marker', cursive;
            font-size:32px;
            text-align:right;
            background-image:url('../../images/underline.png');
            background-position:bottom;
            background-repeat:no-repeat;
            background-size:100% 15px;
            &.dark{
                background-image:url('../../images/underline-dark.png');
            }
        }
    }
    .body{
        text-align:left;
        font-family: 'Archivo Narrow', sans-serif;
        font-size:18px;
        position:relative;
    }
}

.wings{
    width:138px;
    height:100px;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,.25));
    background-image:url('../../images/wings-sticker.png');
    background-size:cover;
    transform:rotate(0deg);
    float:right;
    margin-left:10px;
}

.imageContainer{
    width:450px;
    height:675px;
    overflow:hidden;
    white-space: nowrap;
    border-radius:25px;
    box-shadow: 2px 0px 11px 2px rgba(0,0,0,0.5) inset;
    position:relative;
    .shadow{
        border-radius:25px;
        box-shadow: 2px 0px 11px 2px rgba(0,0,0,0.5) inset;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
    }
    .image1{
        display:inline-block;
        width:0%;
        height:100%;
        animation: image1Rotation 10s 1;
        background:url('../../images/me.jpg');
        background-size:450px 675px;
        background-position-x:0px;
        background-repeat:no-repeat;
        filter:grayscale(1);
    }
    .image2{
        display:inline-block;
        width:100%;
        height:100%;
        animation: image2Rotation 10s 1;
        background:url('../../images/me.jpg');
        background-size:450px 675px;
        background-position-x:0px;
        background-repeat:no-repeat;
        filter:saturate(1.2);
    }
}

@keyframes image1Rotation{
    0%{
        width:0%;
    }
    15%{
        width:100%;
    }
    30%{
        width:0px;
    }
    45%{
        width:50%;
        filter:grayscale(0) saturate(1.25);
    }
    60%{
        width:100%;
    }
    75%{
        width:0px;
        filter:saturate(1.25);
    }
    100%{
        width:0%;
        filter:saturate(1) grayscale(1);
    }
}
@keyframes image2Rotation{
    0%{
        width:100%;
        background-position-x:0px;
    }
    15%{
        width:0px;
        background-position-x:-450px;
    }
    30%{
        width:100%;
        background-position-x:0px;
    }
    45%{
        width:50%;
        background-position-x:-225px;
        filter:hue-rotate(0deg) sepia(1.5);
    }
    60%{
        width:0px;
        background-position-x:-450px;
        filter:hue-rotate(125deg) sepia(0) saturate(1);
    }
    75%{
        width:100%;
        background-position-x:0px;
        filter: hue-rotate(0deg);
    }
    100%{
        width:100%;
        background-position-x:0px;
        filter:hue-rotate(0deg) saturate(1.2);
    }
}

@keyframes image2RotationMobile{
    0%{
        width:100%;
        background-position-x:0px;
    }
    15%{
        width:0px;
        background-position-x:-225px;
    }
    30%{
        width:100%;
        background-position-x:0px;
    }
    45%{
        width:50%;
        background-position-x:-112.5px;
        filter:hue-rotate(0deg) sepia(1.5);
    }
    60%{
        width:0px;
        background-position-x:-225px;
        filter:hue-rotate(125deg) sepia(0) saturate(1);
    }
    75%{
        width:100%;
        background-position-x:0px;
        filter: hue-rotate(0deg);
    }
    100%{
        width:100%;
        background-position-x:0px;
        filter:hue-rotate(0deg) saturate(1.2);
    }
}

// Mobile
@media (max-width:900px){
    .about{
        justify-content:center !important;
        flex-wrap:wrap;
    }
    .rightB{
        max-width:100%;
        .titleContainer{
            text-align:center;
            .title{
                text-align:center;
                padding-right:0;
            }
        }
    }
    .wings{
        width:69px !important;
        height:50px !important;
    }
    .imageContainer{
        width:225px !important;
        height:337.5px !important;
        .shadow{
            width:225px !important;
            height:337.5px !important;
        }
        .image1, .image2{
            background-size:225px 337.5px !important;
        }
        .image2{
            display:inline-block;
            width:100%;
            height:100%;
            animation: image2RotationMobile 10s 1 !important;
            background:url('../../images/me.jpg');
            background-position-x:0px;
            background-repeat:no-repeat;
            filter:saturate(1.2);
        }
    }
}