@keyframes pop {
    from {
        background-image:url('../../images/pop.svg');
        background-size:50%;
        opacity:1;
    }
    to {
        background-image:url('../../images/pop.svg');
        background-size:100%;
        opacity:0;
        transform:rotate(180deg);
    }
}

@keyframes fadeIn{
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.Header{
    &.dark{
        background-color:rgb(75,75,75) !important;
        color:rgb(255,255,255) !important;
        // Other dark styles here, including for children

    }
}

.Header{
    font-family: 'Archivo Narrow', sans-serif;
    width:100%;
    background-color:rgb(255,255,255);
    color:rgb(50,50,50);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    animation: fadeIn 0.5s 1;
    position:sticky;
    top:0;
    z-index:5;
    .content{
        padding:10px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        position:relative;
        .menu{
            display:none;
        }
    }
}

@keyframes lamp{
    0% {
        height:120px;
        bottom:-120px;
        background-position-y: -30px;
    }
    50% {
        height:150px;
        bottom:-150px;
        background-position-y: 0px;
    }
    100% {
        height:120px;
        bottom:-120px;
        background-position-y: -30px;
    }
}

.chain{
    position:absolute;
    right:5px;
    bottom:-120px;
    width:20px;
    height:120px;
    background-position-y:-30px;
    cursor:pointer;
    background-image:url('../../images/chain.png');
    background-size:20px 150px;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,.25));
    &.click{
        animation-name: lamp;
        animation-duration:1s;
        animation-iteration-count: 1;
    }
}

.soContainer{
    color:rgb(50,50,50);
    &.dark{
        background-color:rgb(75,75,75) !important;
        color:rgb(255,255,255) !important;
    }
}

.slideOutMenu{
    padding:10px;
    text-align:center;
    .items, .items:visited{
        font-family:'Permanent Marker', cursive;
        font-size:24px;
        font-weight:400;
        text-decoration:none;
        color:inherit;
        margin:0 10px 10px 10px;
        padding-bottom:8px;
        display:block;
        &:hover{
            color:rgb(120,120,120);
        }
        &.active{
            background-image:url('../../images/underline.png');
            background-position:bottom;
            background-repeat:no-repeat;
            background-size:100% 15px;
            &.dark{
                background-image:url('../../images/underline-dark.png') !important;
            }
        }
    }
}

.nav{
    .items, .items:visited{
        font-family:'Permanent Marker', cursive;
        font-size:24px;
        font-weight:400;
        text-decoration:none;
        color:inherit;
        margin:0 10px;
        padding-bottom:15px;
        &:hover{
            color:rgb(120,120,120);
        }
        &.active{
            background-image:url('../../images/underline.png');
            background-position:bottom;
            background-repeat:no-repeat;
            background-size:100% 15px;
            &.dark{
                background-image:url('../../images/underline-dark.png') !important;
            }
        }
    }
}

.logo{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    padding-left:10px;
    text-shadow: 0px 0px 3px rgba(50,50,50, 0.5);
    .left{
        font-size:32px;
        .top{
            margin-bottom:-15px;
            font-weight:700;
            color:rgb(88, 119, 202);
        }
        .bottom{
            font-weight:400;
            font-family: 'Permanent Marker', cursive;
        }
    }
    .right{
        width:75px;
        position:absolute;
        bottom:0;
        right:-60px;
    }
}

.comContainer{
    font-size:24px;
    font-weight:400;
    display:flex;
    justify-content:center;
    align-items:center;
    width:75px;
    height:50px;
    color:rgb(120,120,120);
    .comForeground, .comBackground{
        position:absolute;
    }
    .comForeground{
        transform:rotate(-15deg);
    }
    .comBackground{
        animation-name: pop;
        animation-duration:1s;
        background-position:center;
        background-repeat:no-repeat;
        width:75px;
        height:50px;
    }
}

// Mobile
@media (max-width: 900px) {
    .Header{
        .content{
            justify-content:center !important;
            .menu{
                display:block !important;
                position:absolute;
                left:20px;
                font-size:24px;
                cursor:pointer;
                &:hover{
                    color:rgb(120,120,120);
                }
            }
        }
    }
    .logo{
        padding:0;
        .left{
            font-size:24px;
        }
    }
    .nav{
        display:none !important;
    }
    .comContainer{
        font-size:18px;
    }
}